{% verbatim %}

<div class="col-md-12">
    <label>Nombre: {{sismo.data.name}}</label>
</div>
<div class="col-md-12">
    <label> Magnitud: {{sismo.data.magnitud}}</label>
</div>
<div class="col-md-12">
    <label> Profundidad: {{sismo.data.profundidad}}</label>
</div>
<div class="col-md-12">
    <label>Ubicación: </label>
    <div class="col-md-12">
        <label>Latitud: {{sismo.data.pos.lat}}</label>
    </div>
    <div class="col-md-12">
        <label>Longitud: {{sismo.data.pos.lng}}</label>
    </div>
</div>
<div class="col-md-12">
    <label>Fecha evento: {{sismo.data.fecha}}</label>
</div>
<div class="col-md-12">
    <label> Estaciones asociadas: {{sismo.data.estaciones}}</label>
</div>
<div class="col-md-12">
    <label> Intesidades asociadas: {{sismo.data.intensidades_p}}</label>
</div>

{% endverbatim %}