{% load staticfiles %}
<div ng-controller="B1Controller" class="container-fluid" style="padding-bottom: 10%;padding-top:2%;">
        <div class="row col-md-12" style="margin-top:5%;">
                <div class="col-md-3 row">
                        <div class="col-md-12">
                                <a class="index-tag control-label" style="color:#667f00;">Ingrese la búsqueda que desea hacer asd</a>
                        </div>
                        <div class="col-md-12">
                                <input id="value1" ng-model="value1" class="input-lg form-control"  >
                        </div>
                </div>
                <div class="col-md-3 row">
                        <div class="col-md-12">
                                <a class="index-tag control-label" style="color:#667f00;">Ingrese la búsqueda que desea hacer fgh-</a>
                        </div>
                        <div class="col-md-12">
                                <input id="value2" ng-model="value2" class="input-lg form-control"  >
                        </div>
                </div>
                <div class="col-md-3 row" >
                        <div class="col-md-12">
                                <a class="index-tag" style="color:#667f00;">Ingrese la búsqueda que desea hacer jkl</a>
                        </div>
                        <div class="col-md-12">
                                <input id="value3" ng-model="value3" class="input-lg form-control"  >
                        </div>
                </div>
        </div>
</div>