{% load staticfiles %}
<div ng-controller="MapTabController" ng-show="loading == false" class="container-fluid" style="padding-bottom: 10%;padding-top:2%;">
    <input ng-show="false" name="card[description]" value="{{user}}" ng-model="user" ng-initial>
{% verbatim %}
    <div class="nopm" style="position:fixed;z-index:5;left:0px;top:23%;">
        <button ng--click="hideLeftBar()" class="btn btn-sgcbgl unselectable" title="Esconder fuentes de información" ng-show="config.leftHiding == false && config.leftShowable == true">
                    <a style="margin-left:-7px;"> <  </a>
        </button>
        <button ng-click="showLeftBar()"  class="btn btn-sgcbgl unselectable" title="Mostrar fuentes de información"  ng-show="config.leftHiding == true && config.leftShowable == true">
                  <a style="margin-left:-7px;"> >  </a>
        </button>
    </div>


    <div class="nomp" style="position:fixed;right:0px;top:23%" >
        <button ng--click="hideRightBar()" class="btn btn-sgcbgr unselectable" title="Esconder formatos de salida"  ng-show="config.rightHiding == false">
            <a style="margin-right:-7px;"> >  </a>
        </button>
        <button ng--click="showRightBar()" class="btn btn-sgcbgr unselectable" title="Mostrar formatos de salida"  ng-show="config.rightHiding == true">
                    <a style="margin-right:-7px;"> <  </a>
        </button>
    </div>

    <div class="nomp" style="position:fixed;left:0px;top:13%;z-index:5;"><!-- openConfig('') -->
        <button ng-click="openConfig('')" style="width:100%;"  title="Mostrar configuración de zona de trabajo"
                class="btn" ><a class="el el-wrench"></a>
        </button>
    </div>

    <div class="col-md-12 nomp row" >

        {% endverbatim %}

        {% include "left.html" %}
        {% include "center.html" %}

        {% include "right.html" %}

        {% verbatim %}
        <div class="col-md-12" style="text-align:center;font-weight: bold;margin-top:1%;padding-right:5%;">
            Descarga de información
        </div>
        <div class="col-md-12 nomp">
            <div class="col-md-12 row" style="margin-top:1%;">
                <div class="col-md-6 row nomp"  style="">
                    <div class="col-md-12" style="text-align:center;font-weight: bold;margin-top:1%;padding-right:5%;">
                        Formatos de salida
                    </div>
                    <div class="col-md-3" style="text-align:center;" ng-repeat="formato in config.formats">
                                    <label class="ctn" style="border-bottom:1px solid lightgrey;border-bottom-width: thin">
                                        <span style="text-align:center;">{{formato.nombre}}</span>
                                      <input type="checkbox"  ng-model="formato.activo">
                                      <span style="margin-left:35%;" class="checkmark"></span>
                                    </label>
                    </div>
                </div>
                <div class="col-md-6 row" style="margin-top:1%;">
                    <div class="col-md-12" style="text-align:center;margin-bottom:1%;font-weight: bold">
                        Ingrese un email para enviar URL de descarga
                    </div>
                    <div class="col-md-12" style="margin-top:1%;">
                        <input class="input-xxlarge" style="width:100%;height:100%;"
                               ng-model="emailOutput" placeholder="example@example.com">
                    </div>
                    <div class="col-md-12" style="margin-top:1%;" >
                        <button ng-click="enviarEmail()" style="width:100%;" class="btn " >Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        {% endverbatim %}
</div>