{% load staticfiles %}
<div ng-controller="BodyController" class="container-fluid nomp" style="padding-bottom: 5%;">
        <div ng-show="false" class="row col-md-12" style="font-size:15px;margin-left:6%;">
                <div class="col-md-2">
                        <button class="tab unselectable" ng-click="changeTab(1)" ng-class="{ 'tab-active' : tab ==1 }">Visualizador de información</button>
                </div>
                <div class="col-md-2">
                        <button class="tab unselectable" ng-click="changeTab(2)" ng-class="{ 'tab-active' : tab ==2 }">Búsqueda por criterio 2</button>
                </div>
        </div>
        <div class="row col-md-12" style="margin-top:1%;">
                <div class="col-md-12" ng-if="tab == 1">
                        {% include "b1.html" %}
                </div>
        </div>
</div>
