{% load staticfiles %}
<div ng-controller="HeaderController" class="container-fluid" style="padding:0px;font-size:15px;">
        <div class="col-md-12 row">
            <div class="col-md-4" style="text-align: center;">
                <a  href="https://www.sgc.gov.co/">
                <img src="{% static 'static/logo-SGC.png' %}" style="width:130px;">
                </a>
            </div>
            <div class="col-md-4" style="text-align: center;">
                Sistema prototipo para la busqueda de información sísmica catalogada
            </div>
            <div class="col-md-4" style="text-align: center;">
                <img src="{% static 'static/logo-todospais.png' %}" style="width:110px;">
            </div>
        </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 linegreen">

    </div>
</div>